@import "mixins";

$white-bg: rgb(255, 255, 255);
$green-bg: rgb(0, 192, 165);
$btn-white-color: rgb(255, 255, 255);
$btn-white-green: rgb(0, 192, 165);

.button {
  white-space: normal;
  border-spacing: 2px;
  word-spacing: normal;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  transition: all 0.1s ease 0s;
  text-transform: uppercase;
  height: calc(2.5 * var(--lendi-ui-size));
  padding: calc(0.75 * var(--lendi-ui-size));
  font-size: calc(0.75 * var(--lendi-ui-size));
  letter-spacing: calc(0.05 * var(--lendi-ui-size));
  font-family: "Open Sans", sans-serif;
  border: 1px solid rgb(0, 192, 165);
}

.white {
  color: $btn-white-green;
  background-color: $white-bg;
}

.green {
  color: $btn-white-color;
  background-color: $green-bg;
}

.button:hover {
  border-color: rgb(50, 204, 183);
  box-shadow: rgb(0 0 0 / 10%) 0px 12px 17px 2px,
    rgb(0 0 0 / 12%) 0px 5px 22px 4px, rgb(0 0 0 / 14%) 0px 7px 8px 0px;
}
