html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --lendi-ui-size: 16px;
  --deep-green-color: #003046;
  --gray-background-color: rgb(241, 241, 241);
  --light-green: rgb(229, 248, 246);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
